# Creating, Reading and Writing

In [371]:
import pandas as pd

In [372]:
pd.DataFrame({'Yes': [50, 21,34], 'No': [131, 2,65]})

   Yes   No
0   50  131
1   21    2
2   34   65

In [373]:
pd.DataFrame({"Apples":[30],"Bananas":[21]})

   Apples  Bananas
0      30       21

In [374]:
fruits = pd.DataFrame([[30, 21]], columns=['Apples', 'Bananas'])
print(fruits)

   Apples  Bananas
0      30       21

In [375]:
fruits = pd.DataFrame([[30, 21],[41,34]], columns=['Apples', 'Bananas'],index=['2017 Sales','2018 Sales'])
print(fruits)

            Apples  Bananas
2017 Sales      30       21
2018 Sales      41       34

Create a variable ingredients with a Series that looks like:

Flour     4 cups
Milk       1 cup
Eggs     2 large
Spam       1 can
Name: Dinner, dtype: object

In [376]:
ingredients = pd.Series(['4 cups','1 cup','2 large','1 can'],index=['Flour','Milk','Eggs','Spam'],name='Dinner')

In [377]:
ingredients

Flour     4 cups
Milk       1 cup
Eggs     2 large
Spam       1 can
Name: Dinner, dtype: object

In [378]:
gauge=['4 cups','1 cup','2 large','1 can']
matarials=['Flour','Milk','Eggs','Spam']
ingredients=pd.Series(gauge,index=matarials,name='Dinner')
print(ingredients)

Flour     4 cups
Milk       1 cup
Eggs     2 large
Spam       1 can
Name: Dinner, dtype: object

In [379]:
animals = pd.DataFrame({'Cows': [12, 20], 'Goats': [22, 19]}, index=['Year 1', 'Year 2'])
animals

        Cows  Goats
Year 1    12     22
Year 2    20     19

In [380]:
animals.to_csv('cows_and_goats.csv')

# Indexing, Selecting & Assigning

In [381]:
import pandas as pd
reviews = pd.read_csv("data/winemag-data-130k-v2.csv", index_col=0)
pd.set_option("display.max_rows", 5)

In [382]:
reviews.head

<bound method NDFrame.head of          country                                        description  \
0          Italy  Aromas include tropical fruit, broom, brimston...
1       Portugal  This is ripe and fruity, a wine that is smooth...
...          ...                                                ...
129969    France  A dry style of Pinot Gris, this is crisp with ...
129970    France  Big, rich and off-dry, this is powered by inte...

                          designation  points  price           province  \
0                        Vulkà Bianco      87    NaN  Sicily & Sardinia
1                            Avidagos      87   15.0              Douro
...                               ...     ...    ...                ...
129969                            NaN      90   32.0             Alsace
129970  Lieu-dit Harth Cuvée Caroline      90   21.0             Alsace

       region_1 region_2    taster_name taster_twitter_handle  \
0          Etna      NaN  Kerin O’Keefe          @kerinokeefe
1           NaN      NaN     Roger Voss            @vossroger
...         ...      ...            ...                   ...
129969   Alsace      NaN     Roger Voss            @vossroger
129970   Alsace      NaN     Roger Voss            @vossroger

                                                    title         variety  \
0                       Nicosia 2013 Vulkà Bianco  (Etna)     White Blend
1           Quinta dos Avidagos 2011 Avidagos Red (Douro)  Portuguese Red
...                                                   ...             ...
129969      Domaine Marcel Deiss 2012 Pinot Gris (Alsace)      Pinot Gris
129970  Domaine Schoffit 2012 Lieu-dit Harth Cuvée Car...  Gewürztraminer

                      winery
0                    Nicosia
1        Quinta dos Avidagos
...                      ...
129969  Domaine Marcel Deiss
129970      Domaine Schoffit

[129971 rows x 13 columns]>

In [383]:
reviews.description.iloc[3]

'Pineapple rind, lemon pith and orange blossom start off the aromas. The palate is a bit more opulent, with notes of honey-drizzled guava and mango giving way to a slightly astringent, semidry finish.'

In [384]:
first_row = reviews.iloc[0]
first_row

country                                                    Italy
description    Aromas include tropical fruit, broom, brimston...
                                     ...
variety                                              White Blend
winery                                                   Nicosia
Name: 0, Length: 13, dtype: object

Select the first 10 values from the description column in reviews, assigning the result to variable first_descriptions.

In [385]:
first_descriptions = reviews.description.iloc[:10]
first_descriptions

0    Aromas include tropical fruit, broom, brimston...
1    This is ripe and fruity, a wine that is smooth...
                           ...
8    Savory dried thyme notes accent sunnier flavor...
9    This has great depth of flavor with its fresh ...
Name: description, Length: 10, dtype: object

Select the records with index labels 1, 2, 3, 5, and 8, assigning the result to the variable sample_reviews.

In [386]:
indexs=[1,2,3,4,5,8]
li=reviews.loc[indexs]
li

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5,Spain,Blackberry and raspberry aromas show a typical...,Ars In Vitro,87,15.0,Northern Spain,Navarra,NaN,Michael Schachner,@wineschach,Tandem 2011 Ars In Vitro Tempranillo-Merlot (N...,Tempranillo-Merlot,Tandem
8,Germany,Savory dried thyme notes accent sunnier flavor...,Shine,87,12.0,Rheinhessen,NaN,NaN,Anna Lee C. Iijima,NaN,Heinz Eifel 2013 Shine Gewürztraminer (Rheinhe...,Gewürztraminer,Heinz Eifel

Create a variable df containing the country, province, region_1, and region_2 columns of the records with the index

In [387]:
df=reviews.loc[[0,1,10,100],['country', 'province', 'region_1','region_2']]

In [388]:
df

      country           province      region_1      region_2
0       Italy  Sicily & Sardinia          Etna           NaN
1    Portugal              Douro           NaN           NaN
10         US         California   Napa Valley          Napa
100        US           New York  Finger Lakes  Finger Lakes

In [389]:
rows_=[0,1,10,100]
col_=['country', 'province', 'region_1','region_2']
reviews.loc[rows_,col_]

      country           province      region_1      region_2
0       Italy  Sicily & Sardinia          Etna           NaN
1    Portugal              Douro           NaN           NaN
10         US         California   Napa Valley          Napa
100        US           New York  Finger Lakes  Finger Lakes

In [390]:

col_=['country', 'province', 'region_1','region_2']
p=reviews.loc[:99,col_]

In [391]:
type(p)

pandas.core.frame.DataFrame

Create a DataFrame `italian_wines` containing reviews of wines made in `Italy`.

In [392]:
italian_wines = reviews.loc[reviews.country=='Italy']

In [393]:
italian_wines

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
6,Italy,"Here's a bright, informal red that opens with ...",Belsito,87,16.0,Sicily & Sardinia,Vittoria,NaN,Kerin O’Keefe,@kerinokeefe,Terre di Giurfo 2013 Belsito Frappato (Vittoria),Frappato,Terre di Giurfo
...,...,...,...,...,...,...,...,...,...,...,...,...,...
129961,Italy,"Intense aromas of wild cherry, baking spice, t...",NaN,90,30.0,Sicily & Sardinia,Sicilia,NaN,Kerin O’Keefe,@kerinokeefe,COS 2013 Frappato (Sicilia),Frappato,COS
129962,Italy,"Blackberry, cassis, grilled herb and toasted a...",Sàgana Tenuta San Giacomo,90,40.0,Sicily & Sardinia,Sicilia,NaN,Kerin O’Keefe,@kerinokeefe,Cusumano 2012 Sàgana Tenuta San Giacomo Nero d...,Nero d'Avola,Cusumano

Create a DataFrame top_oceania_wines containing all reviews with at least 95 points (out of 100) for wines from Australia or New Zealand.

In [394]:
top_oceania_wines = reviews.loc[(reviews.points>=95) & ((reviews.country=='Australia') | (reviews.country=='New Zealand'))]

In [395]:
top_oceania_wines

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
345,Australia,This wine contains some material over 100 year...,Rare,100,350.0,Victoria,Rutherglen,NaN,Joe Czerwinski,@JoeCz,Chambers Rosewood Vineyards NV Rare Muscat (Ru...,Muscat,Chambers Rosewood Vineyards
346,Australia,"This deep brown wine smells like a damp, mossy...",Rare,98,350.0,Victoria,Rutherglen,NaN,Joe Czerwinski,@JoeCz,Chambers Rosewood Vineyards NV Rare Muscadelle...,Muscadelle,Chambers Rosewood Vineyards
...,...,...,...,...,...,...,...,...,...,...,...,...,...
122507,New Zealand,"This blend of Cabernet Sauvignon (62.5%), Merl...",SQM Gimblett Gravels Cabernets/Merlot,95,79.0,Hawke's Bay,NaN,NaN,Joe Czerwinski,@JoeCz,Squawking Magpie 2014 SQM Gimblett Gravels Cab...,Bordeaux-style Red Blend,Squawking Magpie
122939,Australia,Full-bodied and plush yet vibrant and imbued w...,The Factor,98,125.0,South Australia,Barossa Valley,NaN,Joe Czerwinski,@JoeCz,Torbreck 2013 The Factor Shiraz (Barossa Valley),Shiraz,Torbreck

What is the median of the points column in the reviews DataFrame?

In [396]:
import pandas as pd
reviews = pd.read_csv("data/winemag-data-130k-v2.csv", index_col=0)

In [397]:
median_points = reviews.points.median()

In [398]:
median_points

88.0

What countries are represented in the dataset? (Your answer should not include any duplicates.)

In [399]:
countries = reviews.country.unique()

How often does each country appear in the dataset? Create a Series reviews_per_country mapping countries to the count of reviews of wines from that country.

In [400]:
reviews_per_country = reviews.country.value_counts()

In [401]:
reviews_per_country

country
US        54504
France    22093
          ...
China         1
Egypt         1
Name: count, Length: 43, dtype: int64

Create variable centered_price containing a version of the price column with the mean price subtracted.

(Note: this 'centering' transformation is a common preprocessing step before applying various machine learning algorithms.)

In [402]:
mean_=reviews.points.mean()

In [403]:
centered_price = reviews.price.map(lambda new_price:new_price-mean_)

In [404]:
centered_price

0               NaN
1        -73.447138
            ...
129969   -56.447138
129970   -67.447138
Name: price, Length: 129971, dtype: float64

I'm an economical wine buyer. Which wine is the "best bargain"? Create a variable bargain_wine with the title of the wine with the highest points-to-price ratio in the dataset.

In [405]:
bargain_ids=(reviews.points/reviews.price).idxmax()
bargain_wine = reviews.loc[bargain_ids,'title']

In [406]:
bargain_ids

64590

In [407]:
bargain_wine

'Bandit NV Merlot (California)'

In [408]:
data=pd.DataFrame({'Yes': [50, 21,34], 'No': [131, 2,65]})
data

   Yes   No
0   50  131
1   21    2
2   34   65

In [409]:
 
data['ratio'] = data['Yes'] / data['No']

In [410]:
data

   Yes   No      ratio
0   50  131   0.381679
1   21    2  10.500000
2   34   65   0.523077

In [411]:
sum = data.ratio.sum()
sum

11.4047563123899

In [412]:
import pandas as pd
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})
print(df)
df['C'] = [7, 8, 9]
print(df)

   A  B
0  1  4
1  2  5
2  3  6
   A  B  C
0  1  4  7
1  2  5  8
2  3  6  9

In [413]:
df.insert(loc=1, column='D', value=[10, 11, 12])

In [414]:
df

   A   D  B  C
0  1  10  4  7
1  2  11  5  8
2  3  12  6  9

In [415]:
new_row = {'A': 4, 'D': 7, 'B': 13, 'C': 14}
df = df.append(new_row, ignore_index=True)

AttributeError: 'DataFrame' object has no attribute 'append'

In [416]:
df.loc[1] = [0, 8, 'b', 16]
df

C:\Users\aizaz\AppData\Local\Temp\ipykernel_20324\3005448480.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'b' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[1] = [0, 8, 'b', 16]

   A   D  B   C
0  1  10  4   7
1  0   8  b  16
2  3  12  6   9

In [417]:
pd.set_option("display.max_rows", 6)
pd.set_option("display.max_columns", None)
pd.set_option("display.width", None)
df

   A   D  B   C
0  1  10  4   7
1  0   8  b  16
2  3  12  6   9

There are only so many words you can use when describing a bottle of wine. Is a wine more likely to be "tropical" or "fruity"? Create a Series descriptor_counts counting how many times each of these two words appears in the description column in the dataset. (For simplicity, let's ignore the capitalized versions of these words.)

In [418]:
tropical_count=reviews.description.map(lambda desc:'tropical' in desc).sum()
tropical_count
fruity_count=reviews.description.map(lambda desc:'fruity' in desc).sum()
fruity_count

9090

In [419]:
descriptor_counts = pd.Series([tropical_count,fruity_count],index=['tropical','fruity'])
type(descriptor_counts)

pandas.core.series.Series

In [420]:
print(type(reviews.description))

<class 'pandas.core.series.Series'>

In [421]:
df=pd.DataFrame({'Name':['Aizaz','Ali','Shah'],
                'Age':[20,21,22]})

In [ ]:
new_row = pd.Series({'Name': 'Khan', 'Age': 24})

In [422]:
# append method is depricated so now we will use the concat method
df2 = df.append(new_row, ignore_index=True)

AttributeError: 'DataFrame' object has no attribute 'append'

In [423]:
import pandas as pd
df1 = pd.DataFrame({'A': [1, 2], 'B': [3, 4]})
new_row = pd.Series({'A': 5, 'B': 6})
df2 = pd.concat([df1, new_row.to_frame().T], ignore_index=True)
print(df2)

   A  B
0  1  3
1  2  4
2  5  6

In [424]:
new_row = pd.Series({'A': 5, 'B': 6})
print(new_row)
d_new_row=new_row.to_frame()
print(d_new_row.T)

A    5
B    6
dtype: int64
   A  B
0  5  6

We'd like to host these wine reviews on our website, but a rating system ranging from 80 to 100 points is too hard to understand - we'd like to translate them into simple star ratings. A score of 95 or higher counts as 3 stars, a score of at least 85 but less than 95 is 2 stars. Any other score is 1 star.

Also, the Canadian Vintners Association bought a lot of ads on the site, so any wines from Canada should automatically get 3 stars, regardless of points.

Create a series star_ratings with the number of stars corresponding to each review in the dataset

In [427]:
star_ratings=reviews.star_ratings

In [429]:
import pandas as pd

# Assuming you have a DataFrame named 'reviews'

# Using apply with a lambda function for star ratings
reviews['star_ratings'] = reviews.apply(lambda row: 3 if (row['points'] >= 95) or (row['country'] == 'Canada') else (2 if 90 <= row['points'] < 95 else 1), axis=1)

In [430]:
star_ratings

0         1
1         1
2         1
         ..
129968    2
129969    2
129970    2
Name: star_ratings, Length: 129971, dtype: int64

In [431]:
reviews.columns

Index(['country', 'description', 'designation', 'points', 'price', 'province',
       'region_1', 'region_2', 'taster_name', 'taster_twitter_handle', 'title',
       'variety', 'winery', 'star_ratings'],
      dtype='object')

In [432]:
def stars_cal(row):
    if (row.country=='Canada') or (row.points>=95):
        return 3
    elif row.points>=85:
        return 2
    else:
        return 1

In [433]:
reviews.apply(stars_cal,axis=1)

0         2
1         2
2         2
         ..
129968    2
129969    2
129970    2
Length: 129971, dtype: int64

Who are the most common wine reviewers in the dataset? Create a Series whose index is the taster_twitter_handle category from the dataset, and whose values count how many reviews each person wrote.

In [434]:
reviews.columns

Index(['country', 'description', 'designation', 'points', 'price', 'province',
       'region_1', 'region_2', 'taster_name', 'taster_twitter_handle', 'title',
       'variety', 'winery', 'star_ratings'],
      dtype='object')

In [435]:
reviews_written = reviews.groupby('taster_twitter_handle').taster_twitter_handle.count()
reviews_written

taster_twitter_handle
@AnneInVino         3685
@JoeCz              5147
@bkfiona              27
                   ...
@wineschach        15134
@winewchristina        6
@worldwineguys      1005
Name: taster_twitter_handle, Length: 15, dtype: int64

What is the best wine I can buy for a given amount of money? Create a Series whose index is wine prices and whose values is the maximum number of points a wine costing that much was given in a review. Sort the values by price, ascending (so that 4.0 dollars is at the top and 3300.0 dollars is at the bottom).

In [436]:
best_rating_per_price =reviews.groupby('price').points.max()
best_rating_per_price

price
4.0       86
5.0       87
6.0       88
          ..
2013.0    91
2500.0    96
3300.0    88
Name: points, Length: 390, dtype: int64

What are the minimum and maximum prices for each `variety` of wine? Create a `DataFrame` whose index is the `variety` category from the dataset and whose values are the `min` and `max` values thereof.

In [437]:
price_extremes = reviews.groupby('variety').price.agg(['min','max'])

In [438]:
price_extremes

              min    max
variety
Abouriou     15.0   75.0
Agiorgitiko  10.0   66.0
Aglianico     6.0  180.0
...           ...    ...
Zweigelt      9.0   70.0
Çalkarası    19.0   19.0
Žilavka      15.0   15.0

[707 rows x 2 columns]

What are the most expensive wine varieties? Create a variable sorted_varieties containing a copy of the dataframe from the previous question where varieties are sorted in descending order based on minimum price, then on maximum price (to break ties).

In [ ]:
price_extremes.sort_values(by=['min','max'],ascending=False)

                      min    max
variety
Ramisco             495.0  495.0
Terrantez           236.0  236.0
Francisa            160.0  160.0
...                   ...    ...
Tempranillo-Malbec    NaN    NaN
Vital                 NaN    NaN
Zelen                 NaN    NaN

[707 rows x 2 columns]

Create a Series whose index is reviewers and whose values is the average review score given out by that reviewer. Hint: you will need the taster_name and points columns.

In [447]:
print(reviews.columns)
reviewer_mean_ratings = reviews.groupby('taster_name').points.mean()
print(reviewer_mean_ratings)

Index(['country', 'description', 'designation', 'points', 'price', 'province',
       'region_1', 'region_2', 'taster_name', 'taster_twitter_handle', 'title',
       'variety', 'winery', 'star_ratings'],
      dtype='object')
taster_name
Alexander Peartree    85.855422
Anna Lee C. Iijima    88.415629
Anne Krebiehl MW      90.562551
                        ...
Sean P. Sullivan      88.755739
Susan Kostrzewa       86.609217
Virginie Boone        89.213379
Name: points, Length: 19, dtype: float64

What combination of countries and varieties are most common? Create a `Series` whose index is a `MultiIndex`of `{country, variety}` pairs. For example, a pinot noir produced in the US should map to `{"US", "Pinot Noir"}`. Sort the values in the `Series` in descending order based on wine count.

In [450]:
country_variety_counts = reviews.groupby(['country','variety'],).winery.count().sort_values(ascending=False)
country_variety_counts

country  variety
US       Pinot Noir            9885
         Cabernet Sauvignon    7315
         Chardonnay            6801
                               ...
Mexico   Merlot                   1
         Rosado                   1
Uruguay  White Blend              1
Name: winery, Length: 1612, dtype: int64

In [455]:
n_missing_prices = reviews.price.isnull().sum()
n_missing_prices

8996

What are the most common wine-producing regions? Create a Series counting the number of times each value occurs in the `region_1` field. This field is often missing data, so replace missing values with `Unknown`. Sort in descending order.  Your output should look something like this:

```
Unknown                    21247
Napa Valley                 4480
                           ...  
Bardolino Superiore            1
Primitivo del Tarantino        1
Name: region_1, Length: 1230, dtype: int64
```

In [497]:
reviews['region_1'] = reviews['region_1'].fillna('Unknown')
ccc=reviews.groupby(['region_1']).region_1.count().sort_values(ascending=False)
ccc

region_1
Unknown                      21247
Napa Valley                   4480
Columbia Valley (WA)          4124
                             ...
Trentino Superiore               1
Frascati                         1
Dolcetto d'Alba Superiore        1
Name: region_1, Length: 1230, dtype: int64