In [13]:
import pandas as pd
ds=pd.Series(['Aizaz','اعزاز'],index=['English','Urdu'])
ds=ds.tolist()
type(ds)

list

In [15]:
ds1=pd.Series([2, 4, 6, 8, 10])
ds2=pd.Series([1, 3, 5, 7, 9])
print(ds1+ds2)
print(ds1*ds2)
print(ds1/ds2)

0     3
1     7
2    11
3    15
4    19
dtype: int64
0     2
1    12
2    30
3    56
4    90
dtype: int64
0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64

In [19]:
ds3=pd.Series([2, 4, 6, 8, 10])
ds4=pd.Series([1, 3, 5, 7, 10])
print(ds3==ds4) 
print(ds3>=ds4) 
print(ds3<=ds4) 
print(ds3<ds4) 
print(ds3>ds4)

0    False
1    False
2    False
3    False
4     True
dtype: bool
0    True
1    True
2    True
3    True
4    True
dtype: bool
0    False
1    False
2    False
3    False
4     True
dtype: bool
0    False
1    False
2    False
3    False
4    False
dtype: bool
0     True
1     True
2     True
3     True
4    False
dtype: bool

In [24]:
dict_1={'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}
ds5=pd.Series(dict_1,name='Value',dtype=float)
ds5

a    100.0
b    200.0
c    300.0
d    400.0
e    800.0
Name: Value, dtype: float64

In [25]:
import pandas as pd
d = {'col1': [1, 2, 3, 4, 7, 11], 'col2': [4, 5, 6, 9, 5, 0], 'col3': [7, 5, 8, 12, 1,11]}
df = pd.DataFrame(data=d)
print("Original DataFrame")
print(df)

Original DataFrame
   col1  col2  col3
0     1     4     7
1     2     5     5
2     3     6     8
3     4     9    12
4     7     5     1
5    11     0    11

In [73]:
ds6=pd.Series(df.iloc[:,0])

In [74]:
ds6

0     1
1     2
2     3
3     4
4     7
5    11
Name: col1, dtype: int64

In [75]:
ds6.to_numpy()

array([ 1,  2,  3,  4,  7, 11], dtype=int64)

In [98]:
import pandas as pd
s = pd.Series([
    ['Red', 'Green', 'White'],
    ['Red', 'Black'],
    ['Yellow']])
s

0    [Red, Green, White]
1           [Red, Black]
2               [Yellow]
dtype: object

In [99]:
pd.Series([s[0]+s[1]+s[2]],name='One Peice')

0    [Red, Green, White, Red, Black, Yellow]
Name: One Peice, dtype: object

In [100]:
s = pd.Series(['100', '200', 'python', '300.12', '400'])
s.sort_values()

0       100
1       200
3    300.12
4       400
2    python
dtype: object

In [101]:
s.sort_index()

0       100
1       200
2    python
3    300.12
4       400
dtype: object

In [111]:
new_s=pd.concat([s,pd.Series(['pew','rew'])],ignore_index=True)
new_s

0       100
1       200
2    python
3    300.12
4       400
5       pew
6       rew
dtype: object

In [120]:
import pandas as pd
import numpy as np
s2=pd.Series(np.arange(1,11))
s2[s2.values<=5]

0    1
1    2
2    3
3    4
4    5
dtype: int32

In [124]:
s2.mean()

5.5

In [130]:
import pandas as pd
sr1 = pd.Series([1, 2, 3, 4, 5])
sr2 = pd.Series([2, 4, 6, 8, 10])
print("Original Series:")
print("sr1:")
print(sr1)
print("sr2:")
print(sr2)
print("\nItems of sr1 not present in sr2:")
result = sr1[~sr1.isin(sr2)]
print(result)

Original Series:
sr1:
0    1
1    2
2    3
3    4
4    5
dtype: int64
sr2:
0     2
1     4
2     6
3     8
4    10
dtype: int64

Items of sr1 not present in sr2:
0    1
2    3
4    5
dtype: int64

In [129]:
sr1.isin(sr2)

0    False
1     True
2    False
3     True
4    False
dtype: bool

In [141]:
import pandas as pd
sr1 = pd.Series([1, 2, 3, 4, 5])
sr2 = pd.Series([2, 4, 6, 8, 10])
sr1_not_sr2=sr1[~sr1.isin(sr2)]
sr2_not_sr1=sr2[~sr2.isin(sr1)]
print(sr1_not_sr2,sr2_not_sr1)
result=pd.Series(pd.concat([sr1_not_sr2,sr2_not_sr1],ignore_index=True))
print("\nItems of sr1 not present in sr2:")
print(result)

0    1
2    3
4    5
dtype: int64 2     6
3     8
4    10
dtype: int64

Items of sr1 not present in sr2:
0     1
1     3
2     5
3     6
4     8
5    10
dtype: int64

In [265]:
import pandas as pd
import numpy as np
rng=np.random.default_rng(seed=None)
s4=pd.Series(rng.uniform(1,21,20))
result = np.percentile(s4, q=[0, 25, 50, 75, 100])
result

array([ 5.29786409, 10.06045308, 13.08054843, 16.74427971, 20.3232999 ])

In [279]:
import pandas as pd
import numpy as np
num_series = pd.Series(np.take(list('0123456789'), rng.uniform(1,10,40).astype(int)))
num_s,count_s=np.unique(num_series,return_counts=True)

In [286]:
list(zip(num_s,count_s))

[('1', 8),
 ('2', 4),
 ('3', 6),
 ('4', 5),
 ('5', 2),
 ('6', 3),
 ('7', 6),
 ('8', 2),
 ('9', 4)]

In [288]:
result = num_series.value_counts().sort_index()
result

1    8
2    4
3    6
4    5
5    2
6    3
7    6
8    2
9    4
Name: count, dtype: int64

In [338]:
num_series = pd.Series(np.random.randint(1, 5, [15]))
print(num_series)
num_s,count_s=np.unique(num_series,return_counts=True)
dict(zip(num_s,count_s))

0     1
1     4
2     3
3     3
4     2
5     4
6     1
7     2
8     1
9     3
10    1
11    1
12    3
13    3
14    4
dtype: int32

{1: 5, 2: 2, 3: 5, 4: 3}

In [339]:
def frequent_num(dict_z:dict):
    max_=0
    max_key=0
    for key,value in dict_z.items():
        if max_<value:
            max_=value
            max_key=key
    return max_key

In [334]:
num_s,count_s=np.unique(num_series,return_counts=True)
dict(zip(num_s,count_s))

{1: 3, 2: 4, 3: 3, 4: 5}

In [330]:
np.unique(num_series.sum)

1
2
3
4

In [342]:
n=frequent_num(dict(zip(num_s,count_s)))

In [348]:
num_series[num_series.values!=n]=np.nan

In [349]:
num_series

0     1.0
1     NaN
2     NaN
3     NaN
4     NaN
5     NaN
6     1.0
7     NaN
8     1.0
9     NaN
10    1.0
11    1.0
12    NaN
13    NaN
14    NaN
dtype: float64